/*=== CUSTOM VARIABLES ===*/

:root {
    --clr-primary-400: hsl(233, 47%, 7%);
    --clr-accent-400-alpha: ;
    --clr-primary-500: hsl(244, 38%, 16%);

    --clr-accent-400: hsl(277, 64%, 61%);
    --clr-accent-400-alpha: hsl(277, 64%, 61%, .6);

    --clr-neutral-100: hsl(0, 0%, 100%); /* main heading, stats */
    --clr-neutral-100-alpha75: hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --clr-neutral-100-alpha60: hsla(0, 0%, 100%, 0.6); /* stat headings */

    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Lexend Deca', sans-serif;

    --fs-400: .9325rem;
    --fs-600: 1.6rem;

    --fw-normal: 400;
    --fw-semi-bold: 600;
}

/*=== CUSTOM RESET ===*/

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

/* html {
  color-scheme: dark light;
} */

/* min body height */

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*=== GLOBAL STYLES ===*/

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    color: var(--clr-neutral-100-alpha60);
    background-color: var(--clr-primary-400);

    display: grid;
    align-items: center;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.card {
  max-width: 20rem;
  background-color: var(--clr-primary-500);
  border-radius: .5rem;
  overflow: hidden;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.card__content {
  padding: 2rem;
  margin-bottom: .5rem;
}

.card__title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-100);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card__title span {
  color: var(--clr-accent-400);
}

.card__footer {
  margin-bottom: 1rem;
}
.card__footer-title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-100);
}
.card__footer p {
  font-family: var(--ff-secondary);
  font-size: .625rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
}

